
{% extends 'layout.html' %}
   {% block body %}
   <br />
   <p class = "text-center text-secondary h1 ">EXPLORE OUR LOT</p> <br />
   <div class= "bg-light mx-auto">
    <br />
   {% for car in carlot.items %}
   <div class="card mb-3 mx-auto" style="max-width: 680px;">
    <div class="row no-gutters">
      <div class="col-md-4">
      
        <img class="card-img-top" height = 200 width = 8px src = "{{car.Image1}}" alt="Card image cap">
      
      </div>
      <div class="col-md-8">
        <div class="card-body">
          
          <p class="card-text">
          <h4><span class="badge badge-primary">Name </span> &nbsp &nbsp {{ car.Name}}</h4>
          <h4><span class="badge badge-primary">Model</span> &nbsp &nbsp {{car.Model}}</h4>
          <h4><span class="badge badge-primary">Price &nbsp</span> &nbsp &nbsp ${{car.Price}} USD </h4>
          <h4><span class="badge badge-primary">Year &nbsp </span>  &nbsp &nbsp &nbsp {{car.Year}}</h4>
  
          </p>
         <hr />
          <p class="card-text text-center"><a href = "../More_Details/{{ car.id }}"><button type="button" class="btn btn-outline-primary btn-sm">More Details</button></a></small></p>
        </div>
      </div>
    </div>
  </div>
  
   {% endfor%}
 
  <div  class = "mx-auto" aria-label="Page navigation example ">
    <ul class="pagination page-padding">   
        {%  for page in carlot.iter_pages( right_edge = 4) %}
  {% if page %}

      <li class="page-item"><a class="page-link " href="{{url_for('carlot',num = page)}}">{{page}}</a></li>
     {% else %}
  ...
  {% endif %}
  {% endfor %}
</ul>
</div> 
<br />
</div>
  

   

   {% endblock %}